* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* Header section */
.main__container {
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.navbar__header {
 padding: 20px 0;
 background-color: lightgray;
 margin: 0 auto;
 width: 100%;
 height: 60px;
}

.navbar_content {
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 100%;
 padding: 0 80px;
}

/* Body section */
.container__wrapper {
 margin: 0 auto;
 width: 100%;
 padding-top: 50px;
}

.content {
 padding: 0px 80px;
 width: 100%;
 display: flex;
 margin: 0 auto;
 justify-content: space-between;
 position: relative;
}

.content .left__bar {
 width: 300px;
 border-right: 1px solid lightgray;
}

.content .content__item {
 width: 100%;
 padding-left: 10px;
 padding-right: 10px;
 padding-top: 5px;
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.gallery_image_container > img {
 width: 500px;
 height: 200px;
}

.content .right__bar {
 width: 400px;
 border-left: 1px solid lightgray;
 margin: 0 auto;
 padding-bottom: 10px;
 /* border: 1px solid red; */
}

.share__btn:hover > a,
.twitter__btn:hover > a {
 color: #fff;
}

.title,
.authors,
.affiliation,
.journal__info {
 margin-bottom: 7px;
}

.section .left__sidebar_items {
 list-style-type: none;
 line-height: 25px;
 margin: 0;
 padding: 0;
}

.sticky {
 position: -webkit-sticky;
 position: sticky;
 top: 12%;
}

.section .left__sidebar_items > li > a {
 list-style-position: outside;
 color: #000;
}

.figure .figure_images > a {
 /*  */
}
/* Body Section End */

/*======================= Footer Section================== */
.footer__container {
 width: 100%;
 margin: 0 auto;
 background-color: lightgray;
}

.footer {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 30px 140px;
}

/*========== Media queries for Responsiveness=========== */
@media only screen and (max-width: 1190px) {
 .d_none_c {
  display: none;
 }

 .content {
  padding: 0px 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
 }

 .content .right__bar {
  width: 100%;
  border-left: none;
  margin: 0 auto;
  /* display: flex;
  justify-content: center; */
 }
}

@media only screen and (max-width: 800px) {
 .navbar_content {
  padding: 0 50px;
 }

 .content {
  padding: 0px 50px;
 }

 .content .content__item {
  width: 100%;
 }
}
